* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

/* Body Styles */
body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 0 10px;
  background: #393E46;
}

/* Text Selection Styles */
::selection {
  color: #fff;
  background: #675AFE;
}

.App {
  width: 100%;
  max-width: 840px;
  padding: 20px;
  border-radius: 9px;
  background: #fff;
  box-shadow: 7px 7px 20px rgba(0, 0, 0, 0.05);
}

.shortener-container {
  margin: 0 auto;
  padding: 20px;
  background-color: #f4f4f4;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  color: #333;
  margin-top: 30px;
  margin-bottom: 30px;
}

.input-form {
  display: flex;
  margin-bottom: 20px;
}

.url-input {
  flex-grow: 1;
  padding: 10px;
  border: 1px solid #cccccc;
  border-radius: 5px 0 0 5px;
  font-size: 16px;
}

.submit-button {
  background-color: #4285f4;
  color: #fff;
  border: none;
  border-radius: 0 5px 5px 0;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 18px;
}

.shortened-url {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #EEEE;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.shortened-url p {
  margin: 0;
}


.copy-button-shorten {
  background-color: #4285f4;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 8px 16px;
  cursor: pointer;
  font-size: 14px;
}

.copy-button {
  background-color: #4285f4;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 8px 16px;
  cursor: pointer;
  font-size: 14px;
}

.copy-message {
  text-align: center;
  color: #4285f4;
  margin-top: 10px;
}

.url-history {
  margin-top: 30px;
  overflow: auto;
}

.url-history h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.url-history table {
  width: 100%;
  border-collapse: collapse;
}

.url-history th,
.url-history td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ccc;
}

.url-history th {
  font-weight: bold;
}

.url-history td:first-child {
  width: 38%;
}

.url-history td:last-child {
  width: 10%;
}

.url-history td:nth-child(1),
.url-history td:nth-child(2),
.url-history td:nth-child(3) {
  word-break: break-all;
}

.url-history button {
  background-color: #f44336;
  color: #fff;
  border: none;
  padding: 8px 16px;
  font-size: 1rem;
  cursor: pointer;
  margin-top: 20px;
  }
  
  .url-history button:hover {
  background-color: #d32f2f;
  }
  
  .copy-message {
  margin-top: 10px;
  color: #009688;
  }
  
  /* Responsive Styles */
  @media only screen and (max-width: 600px) {
  .url-history th:nth-child(3),
  .url-history td:nth-child(3) {
  display: none;
  }
  
  .url-history td:last-child {
  width: 20%;
  }
  
  .url-history button {
  margin-top: 10px;
  }
  
  .App {
    width: 100%;
    padding: 10px;
    height: 98vh;
    min-width:0
  }
  
}
  

  
  @media only screen and (max-width: 400px) {
  .url-history td:first-child,
  .url-history td:nth-child(2) {
  word-break: break-word;
  }
  }
